<% layout('./layouts/boilerplate') %>

<div class="row">
    <form class = "col-md-6 offset-3 needs-validation" novalidate action="/register" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">email</label>
            <input type="text" class="form-control" id="email" name='email'required>
            <div class="invalid-feedback">
              Please enter the required title !
            </div>
            <div class="valid-feedback">
              Looks Nice !
            </div>
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">User</label>
            <input type="text" class="form-control" name='username' id="username"required>
            <div class="invalid-feedback">
              Please enter the required Location !
            </div>
            <div class="valid-feedback">
              Looks Nice !
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name='password' id="password"required>
            <div class="invalid-feedback">
              Please enter the required Location !
            </div>
            <div class="valid-feedback">
              Looks Nice !
            </div>
          </div>
          <button type="submit" class="btn btn-success">Add Campground</button>

        
            
            
          </div>
          
    </form>
</div>    
